<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="icon.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <div class="conteiner">
        <div class="areaPessoas" >

        </div>
        <div class="areaTC">
            <div class="areaTela borda">
                <div class="tela">
                    <canvas id="canMain" class="" ></canvas>
                    <canvas id='seta' style="width: 500px; height: 400px;"></canvas>
                </div>
                <div class="areaOption">
                    <div class="cores ">
                        <div class="Cor" onclick="setCor('red')" style="background-color: red;"></div>
                        <div class="Cor" onclick="setCor('green');" style="background-color: green;"></div>
                        <div class="Cor" onclick="setCor('gold')" style="background-color: gold;"></div>
                        <div class="Cor" onclick="setCor('orange')" style="background-color: orange;"></div>
                        <div class="Cor" onclick="setCor('yellow')" style="background-color: yellow;"></div>
                        <div class="Cor" onclick="setCor('teal')" style="background-color: teal;"></div>
                        <div class="Cor" onclick="setCor('blue')" style="background-color: blue;"></div>
                        <div class="Cor" onclick="setCor('darkmagenta')" style="background-color: darkmagenta;"></div>
                        <div class="Cor" onclick="setCor('grey')" style="background-color: grey;"></div>
                        <div class="Cor" onclick="setCor('maroon')" style="background-color: maroon;"></div>
                        <div class="Cor" onclick="setCor('white')" style="background-color: white;"></div>
                        <div class="Cor" onclick="setCor('black')" style="background-color: black;"></div>
                        <div class="cor-selected" id="selected" style="background-color: black;"></div>
                    </div>
                    <div class="Buttons">
                        <button onclick="lapis()" ><img src="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-31-pencil@2x.png" alt=""></button>
                        <button onclick="borracha()" ><img src="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-250-eraser@2x.png" alt=""></button>
                        <button onclick="seta()" ><img src="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-98-vector-path-line@2x.png" alt=""></button>
                        <button onclick="eye()" ><img src="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-91-eyedropper@2x.png" alt=""></button>
                        <button onclick="balde()"><img src="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-245-fill@2x.png" alt=""></button>
                        <button onclick="limpaCanMain()" ><img src="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-38-picture@2x.png" alt="clear"></button>
                    </div>
                </div>
            </div>
            <div class="areaChat borda" >
                <div class="comments">
                    <div>nome whilian you must go out of here</div>
                </div>
                
                <div class="com-input">
                    <label>
                        <input id="chat" placeholder="chat" maxlength="100"  type="text">
                    </label>
                </div>
            </div>
        </div>

    </div>
    
    <script src="./canvas.js"></script>
    <script src="./index.js"></script>

</body>
</html>